@import "tailwindcss";
@keyframes floatUp {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh) scale(1.5);
    opacity: 0;
  }
}

.floating-heart {
  position: absolute;
  animation: floatUp 6s ease-in infinite;
  font-size: 1.5rem;
  pointer-events: none;
}

